
<!DOCTYPE html>
<html>

  <head>
    <title>{{ page.title }}</title>
    <!-- stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Ulices Cde Note</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>

    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="mailto:ulices.anibal@gmail.com">email</a></li>
        <li><a href="https://github.com/ulices">github</a></li>
      </ul>
    </footer>
  </body>
</html>
